.terminal {
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  height: 600px;
  text-align: left;
  font-family: 'Courier New', monospace;
  max-height: 500px;
  overflow-y: auto;
}

.title {
  height: 440px;
  border: 1px solid #00ff00;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.input {
  margin-top: 10px;
  display: flex;
}

.output {
  text-align: left;
  font-size: 14px;
}

.inputField{
  flex: 1;
  padding: 5px;
  border: 1px solid #00ff00;
  border-radius: 2px;
  color: #00ff00;
  background-color: #000;
  outline: none;
}

.buttonSubmit {
  padding: 5px 10px;
  border: none;
  background-color: #00ff00;
  color: #000;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 5px;
}

/* Additional styles for smaller screens or mobile devices */
@media (max-width: 768px) {
  .terminal {
    max-width: 100%; /* Allow it to take up the full width on smaller screens */
    font-size: 14px; /* Adjust font size for readability on small screens */
    height: 100%;
    width: 90%;
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    height: 100vh; /* Full height of the viewport */
  }

  .title {
    font-size: 20px; /* Smaller font size for title on small screens */
  }

  .inputField,
  .buttonSubmit {
    font-size: 14px; /* Smaller font size for input and button on small screens */
  }
}