.terminal {
  background-color: #000;
  color: #00ff00;
  border: 2px solid #00ff00;
  padding: 10px;
  border-radius: 5px;
  width: 600px;
  height: 600px;
  text-align: left;
  font-family: 'Courier New', monospace;
  max-height: 500px;
  overflow-y: auto;
}

.title {
  height: 440px;
  border: 1px solid #00ff00;
  padding: 10px;
  text-align: center;
  font-size: 25px;
}

.input {
  margin-top: 10px;
  display: flex;
}

.output {
  text-align: left;
  font-size: 14px;
}

.inputField{
  flex: 1;
  padding: 5px;
  border: 1px solid #00ff00;
  border-radius: 2px;
  color: #00ff00;
  background-color: #000;
  outline: none;
}

.buttonSubmit {
  padding: 5px 10px;
  border: none;
  background-color: #00ff00;
  color: #000;
  cursor: pointer;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 5px;
}